<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SCI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <SCI.Properties.Settings>
      <setting name="SCI_Acesso_Acesso" serializeAs="String">
        <value>https://www.irko.com.br:443/csp/admsys/ADM.WebService.Acesso.cls</value>
      </setting>
      <setting name="SCI_Idioma_Idioma" serializeAs="String">
        <value>https://www.irko.com.br:443/csp/admsys/ADM.WebService.Idioma.cls</value>
      </setting>
      <setting name="SCI_Corporativo_CorporativoService" serializeAs="String">
        <value>https://www.irko.com.br:443/csp/admsys/ADM.WebService.Corporativo.cls</value>
      </setting>
      <setting name="SCI_Trabalhista_AcessoTrabalhista" serializeAs="String">
        <value>http://128.0.0.5:57773/csp/user/WebService.Trabalhista.cls</value>
      </setting>
      <setting name="SCI_IRKDesktop_GetData" serializeAs="String">
        <value>https://www.irko.com.br:443/csp/admsys/WebService.IRKDesktop.cls</value>
      </setting>
      <setting name="SCI_DCTF_DCTFService" serializeAs="String">
        <value>http://128.0.0.5:57773/csp/user/WebService.DCTF.cls</value>
      </setting>
      <setting name="SCI_ESocial_ProducaoRestrita_ServicoEnviarLoteEventos" serializeAs="String">
        <value>https://webservices.producaorestrita.esocial.gov.br/servicos/empregador/enviarloteeventos/WsEnviarLoteEventos.svc</value>
      </setting>
      <setting name="SCI_teste_CadConsultaCadastro2" serializeAs="String">
        <value>https://nfe.fazenda.sp.gov.br/ws/cadconsultacadastro2.asmx</value>
      </setting>
      <setting name="SCI_ESocial_ProducaoRestrita_Retorno_ServicoConsultarLoteEventos" serializeAs="String">
        <value>https://webservices.producaorestrita.esocial.gov.br/servicos/empregador/consultarloteeventos/WsConsultarLoteEventos.svc</value>
      </setting>
      <setting name="SCI_ESocial_Service" serializeAs="String">
        <value>https://www.irko.com.br:443/csp/prgtrb/TRB.WebService.ESocial.cls</value>
      </setting>
      <setting name="SCI_Reinf_ProducaoRestrita_Envio_RecepcaoLoteReinf" serializeAs="String">
        <value>https://preprodefdreinf.receita.fazenda.gov.br/WsREINF/RecepcaoLoteReinf.svc</value>
      </setting>
      <setting name="SCI_Reinf_Irko_Service" serializeAs="String">
        <value>https://www.irko.com.br:443/csp/prgdcn/DCN.WebService.Reinf.cls</value>
      </setting>
      <setting name="SCI_ESocial_Producao_Envio_ServicoEnviarLoteEventos" serializeAs="String">
        <value>https://webservices.envio.esocial.gov.br/servicos/empregador/enviarloteeventos/WsEnviarLoteEventos.svc</value>
      </setting>
      <setting name="SCI_ESocial_Producao_Retorno_ServicoConsultarLoteEventos" serializeAs="String">
        <value>https://webservices.consulta.esocial.gov.br/servicos/empregador/consultarloteeventos/WsConsultarLoteEventos.svc</value>
      </setting>
      <setting name="SCI_ESocial_ProducaoRestrita_Envio_ServicoEnviarLoteEventos" serializeAs="String">
        <value>https://webservices.producaorestrita.esocial.gov.br/servicos/empregador/enviarloteeventos/WsEnviarLoteEventos.svc</value>
      </setting>
      <setting name="SCI_ESocial_IRKO_Service" serializeAs="String">
        <value>https://www.irko.com.br:443/csp/prgtrb/TRB.WebService.ESocial.cls</value>
      </setting>
      <setting name="SCI_ESocial_IRKO_DCTF_Service" serializeAs="String">
        <value>https://www.irko.com.br:443/csp/prgdcn/DCN.WebService.ESocial.cls</value>
      </setting>
      <setting name="SCI_Reinf_ProducaoRestrita_Retorno_ConsultasReinf" serializeAs="String">
        <value>https://preprodefdreinf.receita.fazenda.gov.br/WsREINF/ConsultasReinf.svc</value>
      </setting>
      <setting name="SCI_Reinf_Producao_Envio_RecepcaoLoteReinf" serializeAs="String">
        <value>https://reinf.receita.fazenda.gov.br/WsREINF/RecepcaoLoteReinf.svc</value>
      </setting>
      <setting name="SCI_Reinf_Producao_Retorno_ConsultasReinf" serializeAs="String">
        <value>https://reinf.receita.fazenda.gov.br/WsREINF/ConsultasReinf.svc</value>
      </setting>
      <setting name="SCI_Acesso_IRKOMPACTA_Service" serializeAs="String">
        <value>http://187.32.61.1:57772/csp/admsys/ADM.WebService.Acesso.cls</value>
      </setting>
      <setting name="SCI_Corporativo_IRKOMPACTA_Service" serializeAs="String">
        <value>http://187.32.61.1:57772/csp/admsys/ADM.WebService.Corporativo.cls</value>
      </setting>
      <setting name="SCI_Idioma_IRKOMPACTA_Service" serializeAs="String">
        <value>http://187.32.61.1:57772/csp/admsys/ADM.WebService.Idioma.cls</value>
      </setting>
      <setting name="SCI_Sistema_IRKOMPACTA_Service" serializeAs="String">
        <value>http://187.32.61.1:57772/csp/admsys/ADM.WebService.Sistema.cls</value>
      </setting>
      <setting name="SCI_ESocial_IRKOMPACTA_Service" serializeAs="String">
        <value>http://187.32.61.1:57772/csp/prgtrb/TRB.WebService.ESocial.cls</value>
      </setting>
      <setting name="SCI_ESocial_IRKOMPACTA_DCTF_Service" serializeAs="String">
        <value>http://187.32.61.1:57772/csp/prgdcn/DCN.WebService.ESocial.cls</value>
      </setting>
      <setting name="SCI_Reinf_IRKOMPACTA_Service" serializeAs="String">
        <value>http://187.32.61.1:57772/csp/prgdcn/DCN.WebService.Reinf.cls</value>
      </setting>
      <setting name="SCI_Acesso_IRKO_Service" serializeAs="String">
        <value>https://www.irko.com.br:443/csp/admsys/ADM.WebService.Acesso.cls</value>
      </setting>
      <setting name="SCI_Idioma_IRKO_Service" serializeAs="String">
        <value>https://www.irko.com.br:443/csp/admsys/ADM.WebService.Idioma.cls</value>
      </setting>
      <setting name="SCI_Sistema_IRKO_Service" serializeAs="String">
        <value>https://www.irko.com.br:443/csp/admsys/ADM.WebService.Sistema.cls</value>
      </setting>
      <setting name="SCI_Corporativo_IRKO_Service" serializeAs="String">
        <value>https://www.irko.com.br:443/csp/admsys/ADM.WebService.Corporativo.cls</value>
      </setting>
    </SCI.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>